body{
    background-color:rgb(238, 214, 187)
}

header {
    background-color: white;
    

}
h1{
    text-align: center;
}

nav{
    

}

#sks {
color: black;
}
#proj {
    color: black;
    text-align: center;
}

#AM {
    color: black;
    text-align: right;
}
#CHlink1{
    color: black;
    
}

#CHlink2{
    color: black;
    
}

#Profile-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#aboutme{
    text-align: center;
    font-size: 25px;
}
#paragraph{
    color: darkslategrey;
}
h2{
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ProjectOne {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

h3{
    text-align: center;
}
#skills{
    text-align: center;
    
}
h4 {
    text-align: center;
}

footer {
    text-align: center;
}